<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

  <header>
        <h1>Bem-vindo ao Mundo da Dança</h1>
        <nav>
            <ul>
                <li><a href="#sobre">Sobre</a></li>
                <li><a href="#estilos">Estilos</a></li>
                <li><a href="#contato">Contato</a></li>
            </ul>
        </nav>
    </header>
 <main>
        <section id="sobre">
            <h2>Sobre a Dança</h2>
            <p>A dança é uma forma de expressão artística que utiliza o movimento do corpo para transmitir emoções e contar histórias. Ela pode ser realizada de várias formas e estilos, cada um com suas características e influências culturais.</p>
        </section>
      <section id="estilos">
            <h2>Estilos de Dança</h2>
            <p>Existem muitos estilos de dança, como ballet, jazz, hip-hop, salsa, e tango. Cada um tem sua própria técnica e história.</p>
        </section>

        <section id="contato">
            <h2>Contato</h2>
            <p>Se você deseja saber mais sobre dança ou participar de aulas, entre em contato conosco através do nosso e-mail: contato@dança.com</p>
        </section>
 </main>
</body>
</html>
